<!-- Views/Holerite/HoleriteEnviadoComSucesso.cshtml -->
@{
    ViewData["Title"] = "Holerite Enviado com Sucesso";
}

<h2>Holerite Enviado com Sucesso</h2>

<p>@ViewBag.MensagemSucesso</p>

<a asp-controller="Holerite" asp-action="Index" class="btn btn-primary">Voltar</a>
