@* @model Payroll_system.Models.HoleriteModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HoleriteModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HorasTrabalhadas" class="control-label"></label>
                <input asp-for="HorasTrabalhadas" class="form-control" />
                <span asp-validation-for="HorasTrabalhadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtrasosEFaltas" class="control-label"></label>
                <input asp-for="AtrasosEFaltas" class="form-control" />
                <span asp-validation-for="AtrasosEFaltas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioBruto" class="control-label"></label>
                <input asp-for="SalarioBruto" class="form-control" />
                <span asp-validation-for="SalarioBruto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioLiquido" class="control-label"></label>
                <input asp-for="SalarioLiquido" class="form-control" />
                <span asp-validation-for="SalarioLiquido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxasDePagamento" class="control-label"></label>
                <input asp-for="TaxasDePagamento" class="form-control" />
                <span asp-validation-for="TaxasDePagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImpostoDeRenda" class="control-label"></label>
                <input asp-for="ImpostoDeRenda" class="form-control" />
                <span asp-validation-for="ImpostoDeRenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inss" class="control-label"></label>
                <input asp-for="Inss" class="form-control" />
                <span asp-validation-for="Inss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasExtras" class="control-label"></label>
                <input asp-for="HorasExtras" class="form-control" />
                <span asp-validation-for="HorasExtras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdicionalNoturno" class="control-label"></label>
                <input asp-for="AdicionalNoturno" class="form-control" />
                <span asp-validation-for="AdicionalNoturno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdicionalPericulosidade" class="control-label"></label>
                <input asp-for="AdicionalPericulosidade" class="form-control" />
                <span asp-validation-for="AdicionalPericulosidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdicionalInsalubridade" class="control-label"></label>
                <input asp-for="AdicionalInsalubridade" class="form-control" />
                <span asp-validation-for="AdicionalInsalubridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fgts" class="control-label"></label>
                <input asp-for="Fgts" class="form-control" />
                <span asp-validation-for="Fgts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@