@{
    ViewData["Title"] = "Ferias";
}

<h1 class="tituFerias">Férias</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th scope="col">DataFerias</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>12543</td>
            <td>Mark Sousa</td>
            <td>Vendedor</td>
            <td>19/02/2024 - 18/03/2024</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a role="button" class="btn btn-primary" asp-controller="Button" asp-action="FeriasEditar">Editar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>45621</td>
            <td>Jacob Silva</td>
            <td>Vendedor</td>
            <td>11/05/2024 - 10/06/2024</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a role="button" class="btn btn-primary" asp-controller="Button" asp-action="FeriasEditar">Editar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>67811</td>
            <td>Larry Santos</td>
            <td>Motorista</td>
            <td>02/01/2024 - 01/02/2024</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a role="button" class="btn btn-primary" asp-controller="Button" asp-action="FeriasEditar">Editar</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>