@{
    ViewData["Title"] = "Cadastrar Funcionario";
}

<h1 class="tituloFuncionario">Cadastrar novo um Funcionário</h1>
<br/>


<div class="d-grid gap-2 col-4 mx-auto">
    <a role="button" class="btn btn-success" asp-controller="Button" asp-action="FuncionarioCadastrar">CADASTRAR</a>
</div>
<br />
<br />

<h1 class="tituloFuncionario">Lista de Funcionários</h1>
<br />

<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Cpf</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Rg</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">Endereco</th>
            <th scope="col">Telefone</th>
            <th scope="col">Pis</th>
            <th scope="col">Cargo</th>
            <th scope="col">Departamento</th>
            <th scope="col">Salario Contratual</th>
            <th scope="col">Data de Admissão</th>
            <th scope="col">Nacionalidade</th>
            <th scope="col">Sexo</th>
            <th scope="col">Nome do Banco</th>
            <th scope="col">Agencia</th>
            <th scope="col">Conta</th>
            <th scope="col">TipoDeConta</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>12543</td> 
            <td>Mark Sousa</td>
            <td>mark@gmail.com</td>
            <td>478.966.100-86</td>           
            <td>02/01/1993</td>
            <td>10.144.341-9</td>
            <td>Solteiro</td>
            <td>Rua Jardins, 07 - Barueri</td>
            <td>(11)98624-4470</td>
            <td>545.87892.38-1</td>
            <td>Verdedor</td>
            <td>Vendas</td>
            <td>R$2.150,00</td>
            <td>10/08/2022</td>
            <td>Brasileira</td>
            <td>Masculino</td>
            <td>Bradesco S/A</td>
            <td>9097</td>
            <td>86605-8</td>
            <td>Corrente</td>
            <td>
                <div class="btn-group" role="group" >
                    <a role="button" class="btn btn-primary">Editar</a>
                    <a role="button" class="btn btn-danger">Excluir</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>45621</td> 
            <td>Jacob Silva</td>
            <td>Jacob@gmail.com</td>
            <td>353.566.100-90</td>
            <td>22/05/1990</td>
            <td>11.664.341-10</td>
            <td>Solteiro</td>
            <td>Rua Caetano Velozo, 22 - Osasco</td>
            <td>(11)98677-4532</td>
            <td>653.55892.61-1</td>
            <td>Verdedor</td>
            <td>Vendas</td>
            <td>R$2.150,00</td>
            <td>10/04/2022</td>
            <td>Brasileira</td>
            <td>Masculino</td>
            <td>Bradesco S/A</td>
            <td>5400</td>
            <td>65244-2</td>
            <td>Corrente</td>
            <td>
                <div class="btn-group" role="group" >
                    <a role="button" class="btn btn-primary">Editar</a>
                    <a role="button" class="btn btn-danger">Excluir</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>67811</td> 
            <td>Larry Santos</td>
            <td>Larry@gmail.com</td>
            <td>674.967.105-10</td>
            <td>03/11/1994</td>
            <td>15.134.341-8</td>
            <td>Casado</td>
            <td>Rua Maria, 54 - Carapicuiba</td>
            <td>(11)93564-9846</td>
            <td>885.43892.44-1</td>
            <td>Motorista</td>
            <td>Transporte</td>
            <td>R$2.900,00</td>
            <td>10/01/2022</td>
            <td>Brasileira</td>
            <td>Feminino</td>
            <td>Bradesco S/A</td>
            <td>4532</td>
            <td>54367-3</td>
            <td>Corrente</td>
            <td>
                <div class="btn-group" role="group" >
                    <a role="button" class="btn btn-primary">Editar</a>
                    <a role="button" class="btn btn-danger">Excluir</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>



