@{
    ViewData["Title"] = "Home Page";
}

<h1 class="tituloHome">Seja bem-vindo (a)</h1>
<p class="AcessoRapido">Acesso Rápido</p>
    
    <div class="ImagensLinks">
        <a href="Home/Empresa"><img src="./Imagens/IconEmpresa.png" alt="Icon Empresa"</a>
        <a href="Home/Funcionario"><img src="./Imagens/IconFuncionarios.png" alt="Icon Funciorario" </a>
        <a href="Home/Holerite"><img src="./Imagens/IconHolerite.png" alt="Icon Holerite" </a>
    </div>

