@{
    ViewData["Title"] = "Home Page";
}

<h1 class="titulo">Seja bem-vindo (a)</h1>
<h2 class="AcessoRapido">Acesso Rápido</h2>
<hr />
<div class="ImagensLinks">
    <a href="EmpresaModels/Index"><img src="./Imagens/IconEmpresa.png" alt="Icon Empresa"</a>
    <a href="FuncionarioModels/Index"><img src="./Imagens/IconFuncionarios.png" alt="Icon Funciorario" </a>
    <a href="Holerite/Index"><img src="./Imagens/IconHolerite.png" alt="Icon Holerite" </a>
    </div>

