@{
    ViewData["Title"] = "Licenca";
}

<h1 class="tituloLicenca">Licença</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th scope="col">licenca</th>
            <th scope="col">Data da Licença</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>12543</td>
            <td>Mark Sousa</td>
            <td>Vendedor</td>
            <td>Licença casamento</td>
            <td>20/12/2023 - 23/12/2023</td>
        </tr>
      
    </tbody>
</table>
